# Visual Studio
.vs/

# JetBrains IDEs
.idea/

# Certificates & keystores
*.jks
*.p12
*.pfx
*.pem
*.cer
*.crt
*.key
old cert/

# Java build artifacts
*.jar
*.war
*.class
target/

# Archives
*.zip
*.gz
*.tar